<div class="card mx-5">
    <router-outlet></router-outlet>
    <div class="card-body">
     <div class="container text-center">

        <div class="notificationalert">

            <div class="d-flex justify-content-center">
                <div  >
        
                    <form #form="ngForm" (ngSubmit)="form.valid&&messagealert()">
                        
                        <div class="mb-3">
                            <label class="form-label"  style="font-weight: 600;">Select Course</label>
                            <!--<select  class="form-select" #course="ngModel" [(ngModel)]="enrolldata.course" required  name="course" >
                                <option *ngFor="let i of courses" [ngValue]="courses">{{i.title}}</option>
                              </select>-->

                              <select
              type="text"
              name="course"
              id="course"
              [(ngModel)]="data.course"
              #course="ngModel"
              [class.is-invalid]="course.invalid && course.touched"
              required
            >
              <option *ngFor="let course of courses" [ngValue]="course" >
                {{ course}}
              </option>
            </select>

                             <!--<small class="text-danger" *ngIf="form.submitted&&course.errors?.['required']">*Course required</small>-->
        
                          </div>
                            
                        <div class="mb-3">
                            <label  class="form-label" style="font-weight: 600;">Message</label>
                            <textarea type="string" class="form-control" row="20" #message="ngModel" required style="border: 1px solid black;"  name="message" [(ngModel)]="data.message" ></textarea>
                            <small class="text-danger" *ngIf="form.submitted&&message.errors?.['required']">*Message required</small>
        
                        </div>
        
                          <div class="d-grid mt-5">
                            <button type="submit" class="btn btn-primary" >Send Notification</button>
        
                          </div>
                      </form>
                </div>
            </div>
        
        </div>
        
        </div>
        </div>
        </div>

           
